@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Mukta:wght@400;500;700&family=Open+Sans:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Mono:wght@400;500;700&family=Mukta:wght@400;500;700&family=Open+Sans:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arimo;
}

/* body { background-color: rgb(24, 23, 34); } */

/* cabeçalho */

header {
    height: 80px;
    color: #ffffff;
    background-color: rgba(88, 174, 255, 90%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
}
.navbar {
    list-style: none;
    gap: 20px;
    display: flex;
}
.paragrafo {
    margin-left: 13%;
    text-align: center;
    font-size: 30px;
}
.botao-superior {
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(0 0 0 / 20%);
    height: 40px;
    width: 120px;
    text-decoration: none;
    transition-property: background-color, font-weight;
    transition-duration: 0.5s;
    transition-delay: 0.1s;
}
.botao-superior:hover {
    background-color: rgb(0 0 0 / 57%);
    font-size: 20px;
    font-weight: bold;
}
.botao-text {
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;    font-size: 17px;
}

/* Container Pai/Mãe */

.container {
    background:rgba(0, 0, 0, 5%);
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.banner {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
}
.titulo {
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 40px;
    padding-top: 40px;
    font-weight: bold;
}
.section {
    gap: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Cards */

.card {
    margin-top: 50px;
    width: 500px;
    height: 750px;
    border-radius: 31px;
    background-color: #EAEAEA;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(30,69,119,0.57); 
    box-shadow: 0px 8px 15px 0px rgba(30,69,119,0.57);
}
.tesouras {
    background-image: url("../img/tesouras.jpg");
    background-size: cover;
    width: 100%;
    height: 280px;
    border-radius: 31px 31px 0 0;
}
.siglas {
    background-image: url("../img/siglas.jpg");
    background-size: cover;
    width: 100%;
    height: 280px;
    border-radius: 31px 31px 0 0;
}
.vista {
    background-image: url("../img/vista.jpg");
    background-size: cover;
    width: 100%;
    height: 280px;
    border-radius: 31px 31px 0 0;
}
h2 {
    text-align: center;
    padding-top: 20px;
}
.texto {
    display: block;
    text-align: center;
    font-size: 18px;
    padding: 20px;
}
.videoframe {
    padding: 50px;
    justify-content: center;
    display: flex;
}
.frame {
    border-radius: 30px;
    -webkit-box-shadow: 0px 8px 15px 0px rgba(30,69,119,0.57); 
    box-shadow: 0px 8px 15px 0px rgba(30,69,119,0.57);

}

/* Rodapé */

footer {
    padding: 20px;
    background-color: #f5f8fa;
    height: 100px;
    box-shadow: 0 8px 30px -4px rgb(0 0 0 / 57%);
}
.footer-list {
    padding: 15px;
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social {
    display: flex;
}
.linkedin {
    background-image: url("../img/linkedin.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 119px;
    height: 30px;
}
.github {
    background-image: url("../img/github.png");
    width: 119px;
    height: 34px;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 425px) and (max-width: 1280px){
    
    header {
        display: flex;
        height: 200px;
        flex-direction: column;
        position: relative;
    }
    h1 {
        font-size: 50px;
    }
    .paragrafo {
        font-size: 25px;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        padding: 20px;
    }
    .botao-superior {
        height: 35px;
        width: 100px;
    }
    .botao-superior:hover {
        font-size: 16px;
    }
    .botao-text {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;    
        font-size: 15px;
    }
    .container{
        flex-direction: column;
        
    }
    .banner {
        background-image: url("../img/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
    }
    .titulo {
        font-size: 30px;
    }
    .texto {
        font-size: 16px;
    }
    .section {
        padding: 20px;
        gap: 20px;
    }
    .card {
        margin-top: 30px;
        height: 730px;
        width: 400px;
    }
    .videoframe {
        padding: 20px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
    header {
        display: flex;
        height: 250px;
        flex-direction: column;
        position: relative;
    }
    h1 {
        font-size: 50px;
    }
    .paragrafo {
        font-size: 25px;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
        padding: 20px;
    }
    .botao-superior {
        height: 35px;
        width: 100px;
    }
    .botao-superior:hover {
        font-size: 16px;
    }
    .botao-text {
        text-decoration: none;
        font-weight: bold;
        color: #ffffff;    
        font-size: 15px;
    }
    .container{
        flex-direction: column;
        
    }
    .banner {
        background-image: url("../img/banner.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 200px;
        width: 100%;
    }
    .titulo {
        font-size: 30px;
    }
    .texto {
        font-size: 16px;
    }
    .section {
        padding: 20px;
        gap: 20px;
    }
    .card {
        margin-top: 30px;
        height: 730px;
        width: 400px;
    }
    .videoframe {
        padding: 20px;
    }
}